body {
    margin: 0 auto;
    display: grid;
    grid-template-areas: "head main"
    "nav main";
    grid-gap: 10px;
    background-color: #14646C;
    color: #FEFCFD;
    font-family: "Fjalla One", sans-serif;
    letter-spacing: 0.5px;
}

header {
    grid-area: head;
    place-self: center;
    margin-top: 50px;
    max-width: 500px;
} 

nav {
    font-size: 18px;
    font-family: "Fjalla One", sans-serif;
    
}

a {
    color: #FEFCFD;
    text-decoration: none;
    text-transform: uppercase; 
    margin: 8px 5px;
    display: block;
    letter-spacing: 0.8px;
}


main {
    grid-area: main;
    place-self: center;
    margin: 10px;
    max-width: 500px;
}

h1 {
    font-size: 50px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;

}

h3 {
    font-size: 20px;
    color:#ffffff;
}

p {
    font-size: 16px;
    padding: 5px;
    font-family: "Source Sans 3", serif;
    letter-spacing: 0.3px;
}

i {
    font-size: 22px;
    padding: 0 5px;
}

span {
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #1C8C97;
    color: #FEFCFD;
}